
SpenveShader/Library
SpenveShader/Temp
SpenveShader/Logs
SpenveShader/.idea
*.sln
*.DS_Store

*.csproj
*.cache
*.cache
SpenveShader/UserSettings/EditorUserSettings.asset
SpenveShader/UserSettings/.DS_Store
